
.App-header{
   height:400px;
   width:1200px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin-left:300px;
   margin-top:50px;
}
.yellow-box{
   height:200px;
   width: 220px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.purple-box{
   height:200px;
   width: 220px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin-left:100px;
}
.blue-box{
   height:200px;
   width: 220px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin-left:100px;
}
.green-box{
  height:200px;
  width: 220px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left:100px;
  
}
.color{
   display:flex;
   margin-left:300px;
   margin-top:40px;
  
   
}
.color-count{
   height:300px;
   width:1200px;
   margin-top:30px;
   margin-left:300px;
   border:1px solid red;
}
