.main-row{
   height:300px;
   width:80%;
   border:1px solid blue;
   display:flex;
   margin-left:100px;
  
   
} 
.colum{
    height:300px;
    width:300px;
    border:1px solid red;
    margin-left:70px;
}
